In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../datasets/raw/cars.csv')
data

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,Chrysler,300,automatic,silver,290000,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,301
38527,Chrysler,PT Cruiser,mechanical,blue,321000,2004,diesel,False,diesel,2.2,...,True,False,False,True,True,False,False,True,True,317
38528,Chrysler,300,automatic,blue,777957,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,369
38529,Chrysler,PT Cruiser,mechanical,black,20000,2001,gasoline,False,gasoline,2.0,...,True,False,False,False,False,False,False,False,True,490
38530,Chrysler,Voyager,automatic,silver,297729,2000,gasoline,False,gasoline,2.4,...,False,False,False,False,False,False,False,False,True,632

In [3]:
data.isnull().sum()

manufacturer_name     0
model_name            0
transmission          0
color                 0
odometer_value        0
year_produced         0
engine_fuel           0
engine_has_gas        0
engine_type           0
engine_capacity      10
body_type             0
has_warranty          0
state                 0
drivetrain            0
price_usd             0
is_exchangeable       0
location_region       0
number_of_photos      0
up_counter            0
feature_0             0
feature_1             0
feature_2             0
feature_3             0
feature_4             0
feature_5             0
feature_6             0
feature_7             0
feature_8             0
feature_9             0
duration_listed       0
dtype: int64

In [4]:
data.sort_values(by=['engine_capacity']).tail(11)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
23344,ГАЗ,69,mechanical,green,60,1980,gasoline,False,gasoline,8.0,...,False,False,False,False,False,False,True,False,True,930
8782,Fiat,500,automatic,orange,27000,2013,electric,False,electric,NaN,...,True,False,True,True,True,False,True,True,True,77
9048,Fiat,500,automatic,orange,49000,2014,electric,False,electric,NaN,...,False,False,True,False,True,False,True,False,True,11
24226,Chevrolet,Volt,automatic,silver,168000,2013,electric,False,electric,NaN,...,False,False,True,False,False,False,True,True,True,6
25943,Nissan,Leaf,automatic,white,57357,2015,electric,False,electric,NaN,...,True,True,True,True,True,True,True,True,True,75
26203,Nissan,Leaf,automatic,blue,97400,2011,electric,False,electric,NaN,...,True,False,False,False,False,False,True,False,True,64
26222,Nissan,Leaf,automatic,white,50000,2014,electric,False,electric,NaN,...,True,False,False,False,True,False,True,True,False,18
26582,Nissan,Leaf,automatic,black,84000,2014,electric,False,electric,NaN,...,False,False,False,False,True,True,True,True,True,138
26914,Nissan,Leaf,automatic,black,84500,2013,electric,False,electric,NaN,...,True,False,True,False,True,True,True,True,True,58
27554,BMW,i3,automatic,white,54150,2015,electric,False,electric,NaN,...,True,True,True,False,True,True,True,True,True,18
29590,BMW,i3,automatic,other,67000,2018,electric,False,electric,NaN,...,True,True,True,True,True,True,True,True,True,57

In [5]:
data.mode()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Volkswagen,Passat,mechanical,black,300000,1998,gasoline,False,gasoline,2.0,...,True,False,False,False,False,False,False,False,True,57

In [6]:
mode = data.mode()['engine_capacity'].iloc[0]
mode

2.0

In [7]:
data.loc[data['engine_capacity'].isnull(), 'engine_capacity'] = mode
data.sort_values(by=['engine_capacity']).tail(11)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
19488,Cadillac,Escalade,automatic,white,230000,2007,gasoline,False,gasoline,6.2,...,True,True,True,True,True,True,True,True,True,5
19496,Cadillac,Escalade,automatic,black,220000,2011,gasoline,False,gasoline,6.2,...,True,True,True,True,True,True,True,True,True,61
19511,Cadillac,Escalade,automatic,black,226000,2008,gas,True,gasoline,6.2,...,True,True,True,True,True,True,True,True,True,146
19479,Cadillac,Escalade,automatic,brown,482453,2012,gasoline,False,gasoline,6.2,...,False,False,False,False,False,False,False,False,False,4
34369,Mercedes-Benz,E63 AMG,automatic,silver,95000,2010,gasoline,False,gasoline,6.2,...,True,True,True,True,True,True,True,True,True,90
35122,Mercedes-Benz,S63 AMG,automatic,black,120000,2008,gasoline,False,gasoline,6.3,...,True,True,True,True,True,True,True,True,True,255
10845,Ford,F250,automatic,green,70000,2009,diesel,False,diesel,6.4,...,True,False,True,False,True,True,False,False,True,129
19386,Jeep,Grand Cherokee,automatic,black,129000,2014,gasoline,False,gasoline,6.4,...,False,True,True,False,True,True,True,True,True,87
11605,Ford,E450,automatic,white,360000,2007,gasoline,False,gasoline,6.8,...,True,False,False,True,False,False,False,False,False,59
10398,Ford,Econoline,automatic,black,259104,1996,gasoline,False,gasoline,7.5,...,True,False,False,False,False,False,False,False,True,1350
23344,ГАЗ,69,mechanical,green,60,1980,gasoline,False,gasoline,8.0,...,False,False,False,False,False,False,True,False,True,930

In [8]:
data.isnull().sum()

manufacturer_name    0
model_name           0
transmission         0
color                0
odometer_value       0
year_produced        0
engine_fuel          0
engine_has_gas       0
engine_type          0
engine_capacity      0
body_type            0
has_warranty         0
state                0
drivetrain           0
price_usd            0
is_exchangeable      0
location_region      0
number_of_photos     0
up_counter           0
feature_0            0
feature_1            0
feature_2            0
feature_3            0
feature_4            0
feature_5            0
feature_6            0
feature_7            0
feature_8            0
feature_9            0
duration_listed      0
dtype: int64

In [9]:
data.drop(columns=['engine_fuel'], inplace=True)
data

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_has_gas,engine_type,engine_capacity,body_type,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,False,gasoline,2.5,universal,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,False,gasoline,3.0,universal,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,False,gasoline,2.5,suv,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,False,gasoline,3.0,sedan,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,False,gasoline,2.5,universal,...,True,False,True,True,False,False,False,False,True,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,Chrysler,300,automatic,silver,290000,2000,False,gasoline,3.5,sedan,...,True,False,False,True,True,False,False,True,True,301
38527,Chrysler,PT Cruiser,mechanical,blue,321000,2004,False,diesel,2.2,hatchback,...,True,False,False,True,True,False,False,True,True,317
38528,Chrysler,300,automatic,blue,777957,2000,False,gasoline,3.5,sedan,...,True,False,False,True,True,False,False,True,True,369
38529,Chrysler,PT Cruiser,mechanical,black,20000,2001,False,gasoline,2.0,minivan,...,True,False,False,False,False,False,False,False,True,490
38530,Chrysler,Voyager,automatic,silver,297729,2000,False,gasoline,2.4,minivan,...,False,False,False,False,False,False,False,False,True,632

In [10]:
df = pd.get_dummies(data, columns=['manufacturer_name', 'model_name', 'transmission', 'color', 'engine_type', 'body_type', 'state', 'drivetrain', 'location_region'])
df

,odometer_value,year_produced,engine_has_gas,engine_capacity,has_warranty,price_usd,is_exchangeable,number_of_photos,up_counter,feature_0,...,state_owned,drivetrain_all,drivetrain_front,drivetrain_rear,location_region_Брестская обл.,location_region_Витебская обл.,location_region_Гомельская обл.,location_region_Гродненская обл.,location_region_Минская обл.,location_region_Могилевская обл.
0,190000,2010,False,2.5,False,10900.00,False,9,13,False,...,1,1,0,0,0,0,0,0,1,0
1,290000,2002,False,3.0,False,5000.00,True,12,54,False,...,1,1,0,0,0,0,0,0,1,0
2,402000,2001,False,2.5,False,2800.00,True,4,72,False,...,1,1,0,0,0,0,0,0,1,0
3,10000,1999,False,3.0,False,9999.00,True,9,42,True,...,1,1,0,0,0,0,0,0,1,0
4,280000,2001,False,2.5,False,2134.11,True,14,7,False,...,1,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,290000,2000,False,3.5,False,2750.00,True,5,85,False,...,1,0,1,0,0,0,0,0,1,0
38527,321000,2004,False,2.2,False,4800.00,True,4,20,False,...,1,0,1,0,1,0,0,0,0,0
38528,777957,2000,False,3.5,False,4300.00,False,3,63,False,...,1,0,1,0,0,0,0,0,1,0
38529,20000,2001,False,2.0,False,4000.00,True,7,156,False,...,1,0,1,0,1,0,0,0,0,0
38530,297729,2000,False,2.4,False,3200.00,True,4,73,False,...,1,0,1,0,0,0,0,0,1,0

In [11]:
y = df['price_usd']
X = df.drop(columns=['price_usd'])
y

0        10900.00
1         5000.00
2         2800.00
3         9999.00
4         2134.11
           ...
38526     2750.00
38527     4800.00
38528     4300.00
38529     4000.00
38530     3200.00
Name: price_usd, Length: 38531, dtype: float64

In [12]:
X

,odometer_value,year_produced,engine_has_gas,engine_capacity,has_warranty,is_exchangeable,number_of_photos,up_counter,feature_0,feature_1,...,state_owned,drivetrain_all,drivetrain_front,drivetrain_rear,location_region_Брестская обл.,location_region_Витебская обл.,location_region_Гомельская обл.,location_region_Гродненская обл.,location_region_Минская обл.,location_region_Могилевская обл.
0,190000,2010,False,2.5,False,False,9,13,False,True,...,1,1,0,0,0,0,0,0,1,0
1,290000,2002,False,3.0,False,True,12,54,False,True,...,1,1,0,0,0,0,0,0,1,0
2,402000,2001,False,2.5,False,True,4,72,False,True,...,1,1,0,0,0,0,0,0,1,0
3,10000,1999,False,3.0,False,True,9,42,True,False,...,1,1,0,0,0,0,0,0,1,0
4,280000,2001,False,2.5,False,True,14,7,False,True,...,1,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,290000,2000,False,3.5,False,True,5,85,False,True,...,1,0,1,0,0,0,0,0,1,0
38527,321000,2004,False,2.2,False,True,4,20,False,True,...,1,0,1,0,1,0,0,0,0,0
38528,777957,2000,False,3.5,False,False,3,63,False,True,...,1,0,1,0,0,0,0,0,1,0
38529,20000,2001,False,2.0,False,True,7,156,False,True,...,1,0,1,0,1,0,0,0,0,0
38530,297729,2000,False,2.4,False,True,4,73,False,False,...,1,0,1,0,0,0,0,0,1,0

In [153]:
import random
import numpy as np

class LinearRegression:
    def __init__(self, X, y, test_count : int, no_iters: int):
        self.X = X
        self.y = y
        self.test_count = test_count
        self.no_iters = no_iters
        
        self.X_test = X.iloc[:test_count:]
        self.X_train = X.iloc[test_count:,:]
        
        self.y_test = y.iloc[:test_count]
        self.y_train = y.iloc[test_count:]
        
        self.sample_count, self.sample_length = self.X_train.shape
        
        self.w = np.zeros(self.sample_length)
        
    def fit(self):
#         for i in range(self.no_iters):
        L = (1 / self.sample_count)*np.square(self.y_train - np.dot(self.X_train, self.w))
        print(L)

In [154]:
lr = LinearRegression(X, y, 10000, 10)

In [155]:
lr.fit()

10000     193.561389
10001       8.762399
10002      841.54078
10003    1867.792927
10004     741.649434
            ...
38526     265.062564
38527     807.542673
38528     648.067015
38529     560.793523
38530     358.907855
Name: price_usd, Length: 28531, dtype: object